<!DOCTYPE html>
<html>
<head>
        <link rel="stylesheet" href=".../css/style1.css">
      
<title>Hometab</title>
</head>
<body>
    <ul class="cards">
        <li>
          <a href="" class="card">
            <img src=".../img/info.jpg" class="card__image" alt="" />
            <div class="card__overlay">
              <div class="card__header">
                <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
                <img class="card__thumb" src=".../img/info_icon.png" alt="" />
                <div class="card__header-text">
                  <h3 class="card__title">Your info</h3>            
                  <span class="card__status">1 hour ago</span>
                </div>
              </div>
              <p class="card__description"> Costumer no. :<span id="costumer_n">1234567</span><br> Chasis no. :
                <span id="chasis">1234567</span>
                <br> Colour :<span id="colour">Black</span>
                <br> Car model :<span id="model">Toytota Supra</span>
                <br> YOP :<span id="pur">2002</span></div>
              </p>
            </div>
          </a>      
        </li>
        <li>
          <a href="" class="card">
            <img src=".../img/insurance.jpg" class="card__image" alt="" />
            <div class="card__overlay">        
              <div class="card__header">
                <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                 
                <img class="card__thumb" src=".../img/care_icon.png" alt="" />
                <div class="card__header-text">
                  <h3 class="card__title">Car care</h3>
                  <span class="card__status">3 hours ago</span>
                </div>
              </div>
              <p class="card__description">
                Insurance id : <span id="insurance_id">12345678</span><br>
                Insurance company : <span id="insurance_com">axix</span><br>
                Insurance type : <span id="insurance_type">deluxe</span><br>
                Insurance date : <span id="insurance_date">11/22/21</span><br>
                Time left for renewal : <span id="insurance_due">2</span><br>
                Insurance premium : <span id="insurance_premium">2000</span><br>
              </p>
            </div>
          </a>
        </li>
        <li>
          <a href="" class="card">
            <img src=".../img/maintanance.jpg" class="card__image" alt="" />
            <div class="card__overlay">
              <div class="card__header">
                <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
                <img class="card__thumb" src=".../img/maintanance_icon.png" alt="" />
                <div class="card__header-text">
                  <h3 class="card__title">Car maintanance</h3>           
                  <span class="card__status">1 hour ago</span>
                </div>
              </div>
              <p class="card__description">
                Last servicing center : <span id="servicing">Maruti</span><br>
                Last servicing date : <span id="servicing_date">11/22/21</span><br>
                Servicing type : <span id="servicing_type">premium</span><br>
                Next servicing due : <span id="servicing_due">22/22/21</span><br>
              </p>
            </div>
          </a>
        </li>
        <li>
          <a href="" class="card">
            <img src=".../img/paper_wrok.jpg" class="card__image" alt="" />
            <div class="card__overlay">
              <div class="card__header">
                <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                 
                <img class="card__thumb" src=".../img/db.png" alt="" />
                <div class="card__header-text">
                  <h3 class="card__title">Car paper work</h3>
                  <span class="card__status">3 hours ago</span>
                </div>          
              </div>
              <p class="card__description">
                PUC no. : <span id="puc">12345678</span><br>
                RC no. : <span id="rc">4567</span><br>
                Insurance no. : <span id="insurance_id">12345678</span><br>
                
              </p>
            </div>
          </a>
        </li>    
      </ul>
      <script src=".../js/script1.js"></script>
</body>
<./html>