<!DOCTYPE html>
<html>
<head>
        <!--link rel="stylesheet" href="css/style1.css"-->
        <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='css/style1.css')}}">
      
<title>Hometab</title>
</head>
<body>
    {% for key, values in data.items() %}
    <ul class="cards">
      
        <li>
          <a href="" class="card">
            <img src="{{ url_for('static', filename='img/info.jpg')}}" class="card__image" alt="" />
            <div class="card__overlay">
              <div class="card__header">
                <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
                <img class="card__thumb" src="{{ url_for('static', filename='img/info_icon.png')}}" alt="" />
                <div class="card__header-text">
                  <h3 class="card__title">Your info</h3>            
                  <span class="card__status">1 hour ago</span>
                </div>
              </div>

               
              <!-- {% if loop.index == 1 %}-->
              <p class="card__description"> Costumer no. :<span id="costumer_n">{{ values.0 }}</span><br> Chasis no. :
                <span id="chasis">{{ values.4 }}</span>
                <br> Colour :<span id="colour">{{ values.5 }}</span>
                <br> Car model :<span id="model">{{ values.7 }} {{ values.6 }}</span>
                <br> YOP :<span id="pur">{{ values.2 }}</span></div>
              </p>
              <!--{% endif %}-->
               

            </div>
          </a>      
        </li>
        <li>
          <a href="" class="card">
            <img src="{{ url_for('static', filename='img/insurance.jpg')}}" class="card__image" alt="" />
            <div class="card__overlay">        
              <div class="card__header">
                <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                 
                <img class="card__thumb" src="{{ url_for('static', filename='img/care_icon.png')}}" alt="" />
                <div class="card__header-text">
                  <h3 class="card__title">Car care</h3>
                  <span class="card__status">3 hours ago</span>
                </div>
              </div>
              <p class="card__description">
                Insurance id : <span id="insurance_id">{{ values.8 }}</span><br>
                Insurance company : <span id="insurance_com">{{ values.10 }}</span><br>
                Insurance type : <span id="insurance_type">{{ values.11 }}</span><br>
                Insurance date : <span id="insurance_date">{{ values.12 }}</span><br>
                Time left for renewal : <span id="insurance_due">2</span><br>
                Insurance premium : <span id="insurance_premium">2000</span><br>
              </p>
            </div>
          </a>
        </li>
        <li>
          <a href="" class="card">
            <img src="{{ url_for('static', filename='img/maintanance.jpg')}}" class="card__image" alt="" />
            <div class="card__overlay">
              <div class="card__header">
                <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
                <img class="card__thumb" src="{{ url_for('static', filename='img/maintanance_icon.png')}}" alt="" />
                <div class="card__header-text">
                  <h3 class="card__title">Car maintanance</h3>           
                  <span class="card__status">1 hour ago</span>
                </div>
              </div>
              <p class="card__description">
                Last servicing center : <span id="servicing">{{ values.18 }}</span><br>
                Last servicing date : <span id="servicing_date">{{ values.19 }}</span><br>
                Servicing type : <span id="servicing_type">{{ values.20 }}</span><br>
                Next servicing due : <span id="servicing_due">22/2/22</span><br>
              </p>
            </div>
          </a>
        </li>
        <li>
          <a href="" class="card">
            <img src="{{ url_for('static', filename='img/paper_wrok.jpg')}}" class="card__image" alt="" />
            <div class="card__overlay">
              <div class="card__header">
                <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                 
                <img class="card__thumb" src="{{ url_for('static', filename='img/db.png')}}" alt="" />
                <div class="card__header-text">
                  <h3 class="card__title">Car paper work</h3>
                  <span class="card__status">3 hours ago</span>
                </div>          
              </div>
              <p class="card__description">
                PUC status : <span id="puc">{{ values.14 }}</span><br>
                RC no. : <span id="rc">{{ values.15 }}</span><br>
                Insurance no. : <span id="insurance_id">{{ values.16 }}</span><br>
                
              </p>
            </div>
          </a>
        </li> 
        
      </ul>
      <script src="{{ url_for('static', filename='js/script1.js')}}"></script>
{% endfor %}
</body>
</html>
